body {
    background-color: #191825;
    margin-top: 60px;
}
section {
    margin-left: auto;
}
.btn-primary {
    background-color: #E384FF;
}
.btn-primary:hover {
    background-color: #FFA3FD;
}
.col {
    height: 300px;
    width: 300px;
    background-color: #191825;
}
@media (max-width:1240px) {
    .col{
        height: 310px;
        width: 310px;
        
    }
    img {
        margin-left: 10px;
        
    }
    section {
        margin-right: -10px;
    }
}

@media (max-width: 768px) {
    .container {
        width: auto;
    }
    .row {
        display: block;
        
    }
    .col {
        justify-content: center;
    }
    
}
@media (max-width: 320px) {
    #gifs {
        display: inline;
        justify-content: center;
        margin-top: 10px;
        margin-left: px;
    }
}