body {
    background-color: #191825;
    margin-top: 60px;
}
.btn-primary {
    background-color: #E384FF;
}
.btn-primary:hover {
    background-color: #FFA3FD;
}
.col {
    height: 300px;
    width: 300px;
    background-color: aqua;
}
@media (max-width: 768px) {
    .container {
        width: auto;
    }
    .row {
        display: block;
        
    }
    .col {
        justify-content: center;
    }
    
}
@media (max-width: 320px) {
    .col {
        margin-top: 10px;
        height: 200px;
        width: 200px;
    }
    .row {
        width: auto;
    }
    .previous .next {
        display: none;
    }
    
}